* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div {
  margin: 20rem;
  width: 20rem;
  height: 20rem;
  background-color: green;
  border-radius: 50%;
  border-radius: 2rem 5rem 2rem 5rem;
  border-radius: 100rem; /* Este que está funcionando */
}
