/* LVHA */
/* link, visited, hover, active */
/* Temos que utilizar todas essas pseudo-classes quando adicionarmos um link em uma página. */

/* Vai formatar apenas as âncoras que possuírem um link. */
a:link,
a:visited {
  color: green;
}

a:hover,
a:active {
  font-weight: 700;
}

a:active {
  color: orange;
}

p:hover {
  color: red;
  font-size: 32px;
}
